p {
  font-family: Futura,Arial;
  font-weight: 100;
  font-size:50px;
  font-family: 'Butterfly Kids';
}

.List {
  display: block;
  width: 60%;
  height: 40%;
  margin-top: 100px;
  margin-left: 18%;

}

.last {
  margin-bottom: 350px;

}

.Intro {
  display: block;
  width: 60%;
  height: 40%;
  margin-top: 200px;
  margin-left: 18%;
}

body {
  background-image: url('Untitled_Artwork.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

.Container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.Containertwo {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
}
